body{
    margin: 0;
    padding: 0;
}

.b1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
.container{
    border: none;
    border-radius: 15px;
    background-color: aqua;
    height: auto;
  width: 25vw;   
  box-shadow: 10px 10px 5px  black; 
}

h1{
    text-align: center;
    padding: 10px;
font-weight: 900;
border-bottom: 0.5px solid #fff;
}

.addtask{
    display: flex;
    justify-content: space-evenly;
}

input{
    padding: 7px;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    color: #2b1ee9;
    border-radius: 5px;
}

button{
    color: black;
    font-weight: 700;
    border-radius: 5px;
}

ul{
    list-style: none;
    padding: 15px;

}

li{
    display: flex;
    justify-content: space-between;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 8px;
}